@media (max-width: 991px)
{
    section 
    {
        padding: 150px 20px;
    }
    header
    {
        padding: 20px;
    }
    .navigation
    {
        display: none;
    }
    .toggle
    {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background: #0169b2 url(../img/menu.png); 
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 100;
        border-radius: 5px;
    }
    .toggle.active
    {
        background: #0169b2 url(../img/close.png); 
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
}